.wild {
    width: 100%;
}

.high {
    height: 200px;
}

.word {
    width: 226px;
    margin-top: 10px;
}

button {
    margin-left: 50px;
}

.red {
    color: red;
}

textarea {
    font-family: 'Microsoft YaHei';
}